

/* --------------------------------------
   Layout
   -------------------------------------- */
*{margin:0;}

h1, h2. h3. h4. h5, h6, p{
	margin-bottom: 20px;
}

html,body{
	background-color: #F0F8EA;
height: 100%;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;}


.container{
	width: 100%;
	max-width: 1000px;
	margin-top: 0;
	margin-left: 0 auto;
}

header{
	background-color:#373737;
	opacity: 0.8;
	color:black;
	padding: 1em 0;
	position:fixed;
	width:100%;
	z-index: 99;
filter: grayscale(100%);}
header:hover{
filter: grayscale(0%);}
header::after{
	content: '';
	clear:both;
	display: block;
}

.logo {
	float: left;
	font-size:1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 1em;
	padding-top: 0;
	margin-top: 0;
}



.logo a{
	
	text-decoration: none;
	color:white;
}


.logo img{padding-right: 0em; padding-top: 0em;}
.site-nav{
	top:100%;
	right: 0;
	position: absolute; 
	background-color: #5D5D5D;
	height: 0px;
	overflow: hidden;
}

.site-nav--open{
	height: auto;
}
.site-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

.site-nav li{
	border-bottom: 1px solid #575766;
}

.site-nav li:last-child{
	border-bottom: none;
}
.site-nav a{
	color:#EBEBD3;
	text-decoration: none;
	display:block;
	padding: 0.5em 1.5em;
	

}
.site-nav a:hover,
.site-nav a:focus{
background-color: #4B6044;
color:white;	
}

.menu-toggle{
	padding: 1em;
	position: absolute;
	right: 1em;
	top:2em;	
	cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after{
	content: '';
	display: block;
	background-color: white;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
}

.hamburger::before{
	transform: translateY(-6px);
}

.hamburger::after{
	transform: translateY(3px);
}


.sect{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}


.subSection{
height: 80%;
background-color: white;
}
.subSectionOne{color:#6D6D6D;
letter-spacing: .015em;
padding-left: 1em;
padding-bottom: 1.5em;
height: 60%;}

.subSectionTwo{
	color:#6D6D6D;
letter-spacing: .015em;
padding-left: 1em;
padding-bottom: 1.5em;
}





.sectOne{background-image: url("background1.jpeg");
}



.sectTwo{background-image: url("house.jpg"); 
color:white;
letter-spacing: .015em;
padding-left: 1em;}




.sectThree{background-image:url( "background3.jpeg");
height: 110%;}




/* --------------------------------------
   about us section
   -------------------------------------- */
.subSectionOne h1{text-align: center;
	font-style: bold;
	color:#333;
	padding-top: 0.5em;
}
.subSectionOne h4{color:#373737;
padding-bottom: 0.5em;}

/* --------------------------------------
   our Team
   -------------------------------------- */
.sectTwo h1{padding-top:1em;
	text-align: center;}

.subSectionTwo{
height: 100%;

}

.subSectionTwo ul{
	list-style: none;
	width: 90%;
	padding:auto;
	margin: auto;
}

.subSectionTwo li:first-child{
	width: 100%;
	margin-top: 1em;
	padding: auto;
	color:white;
	background-color: #373737;
	text-align: center;
	letter-spacing: .015em;
	box-shadow: 5px 5px 2.5px #707070;
}
.textOverImage{
    position:relative;
    width:43%;
    height:40%;
    float:left;
    margin:3%;
    background-size:cover;
    background-position:center;
    transition:0.5s;
    box-shadow: 5px 5px 2.5px #707070;
  }
  
  .textOverImage:hover{
    background-size:110%;
  }
  
  .textOverImage:after{
    position:absolute;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    letter-spacing: .015em;
    font-size: 14px;
    padding:0 8px;
    content:attr(data-text);
    transition:0.5s;
  }
  
  .textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
  }
  
  .textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
  }


/* --------------------------------------
   contact
   -------------------------------------- */
.first, .secound{color:white;
letter-spacing: .015em;
padding-left: 1em;
padding-bottom: 1.5em;}

.first h2, .secound h2{
	padding-top:1em;
	text-align: center;
}

#contact li{list-style: none;
	display:inline-block;
float:left;
margin:2%;}


#contact li a{
	text-decoration: none;
	color:white;

}

.third{
	width: 80%;
	margin:auto;
	padding-bottom: 1em;
}



footer{

	text-align: center;
	color:white;
	background-color:#373737; 
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0;
}








@media (min-width: 700px) {
	.menu-toggle{
		display: none;
	}

	.site-nav {
		height: auto;
		position: relative;
		background:transparent;
		float: right;
	}
	.site-nav li{
		display: inline-block;
		border:none;
	}

	.site-nav a{
		padding: 0;
		margin-left: 3em;
	}

	.site-nav a:hover,
	.site-nav a:focus{
		background:transparent;
	}

}