<<<<<<< HEAD


/* --------------------------------------
   Layout
   -------------------------------------- */
*{margin:0;}



html,body{
	background-color: white;
height: 100%;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
margin: 0;
padding:0;}


.container{
	width: 100%;
	
	margin-top: 0;
	margin-left: 0 auto;
}
.wrap{
	width: 80%;
margin: auto;
padding: auto;
text-align: justify;}
header{
	background-color:white;
	color:black;
	padding: 0.5em 0;
	opacity: 0;
	position:fixed;
	width:100%;
	z-index: 99;
	filter: grayscale(100%);
	animation:0.1s all ease;}
.scrolled{opacity: 1;
	animation:0.1s all ease;}

header:hover{
	filter: grayscale(0%);}

header::after{
	content: '';
	clear:both;
	display: block;
}

.logo {
	float: left;
	font-size:1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 1em;
	padding-top: 0;
	margin-top: 0;
}



.logo a{
	
	text-decoration: none;
	color:#6D6D6D;
}


.logo img{padding-right: 0em; padding-top: 0em;}
.site-nav{
	top:100%;
	right: 0;
	position: absolute; 
	background-color: white;
	height: 0px;
	overflow: hidden;
	margin-top: 0;
	padding-top: 0;}

.site-nav--open{
	height: auto;
}
.site-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

.site-nav li{
	border-bottom: 0.7px solid #EAEAEA;
}

.site-nav li:last-child{
	border-bottom: none;
}
.site-nav a{
	color:#6D6D6D;
	text-decoration: none;
	display:block;
	padding: 0.5em 1.5em;
	

}
.site-nav a:hover,
.site-nav a:focus{
background-color: #D5D5D5;
color:white;	
}

.menu-toggle{
	padding: 1em;
	position: absolute;
	right: 1em;
	top:2em;	
	cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after{
	content: '';
	display: block;
	background-color: #A7A7A7;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
}

.hamburger::before{
	transform: translateY(-6px);
}

.hamburger::after{
	transform: translateY(3px);
}


.sect{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}


.subSection{
width: 100%;
height: 80%;
margin: 0;
padding: 0;
background-color: white;
}
.subSectionOne{color:#a3a3a3;
letter-spacing: .015em;
padding-bottom: 1.5em;
height: 135%;}

.subSectionTwo{
	color:#6D6D6D;
letter-spacing: .015em;
padding-left: 1em;
padding-bottom: 1.5em;
}





.sectOne{background-image: url("background1.jpg");
}
.sectOne h1{padding-top: 50%;
		padding-left: 5%;
font-size: 20px;
 color:#6D6D6D;}
 span{
 	color:#323232;
 }
span:before
{
	content: 'Quality Sessions';
	animation: animate infinite 8s;
}
@keyframes animate
{
	0%{ content: 'Hard Work';}
	25%{content: 'Fun';}
	50%{content: 'Progression';}
	75%{content: 'Goal';}
	100%{content: 'Sucess';}

}


.sectTwo{background-image: url("house.jpg"); 
color:white;
letter-spacing: .015em;
padding-left: 1em;}




.sectThree{background-image:url( "background3.jpeg");
height: 110%;}




/* --------------------------------------
   about us section
   -------------------------------------- */
.subSectionOne h1{text-align: center;
	font-style: bold;
	color:#333;
	padding-top: 0.5em;
}
.subSectionOne h4{color:#373737;
padding-bottom: 0.5em;}

/* --------------------------------------
   our Team
   -------------------------------------- */
.sectTwo h1{padding-top:1em;
	text-align: center;}

.subSectionTwo{
height: 100%;

}

.subSectionTwo ul{
	list-style: none;
	width: 90%;
	padding:auto;
	margin: auto;
}

.subSectionTwo li:first-child{
	width: 100%;
	margin-top: 1em;
	padding: auto;
	color:white;
	background-color: #373737;
	text-align: center;
	letter-spacing: .015em;
	box-shadow: 5px 5px 2.5px #707070;
}
.textOverImage{
    position:relative;
    width:43%;
    height:40%;
    float:left;
    margin:3%;
    background-size:cover;
    background-position:center;
    transition:0.5s;
    box-shadow: 5px 5px 2.5px #707070;
  }
  
  .textOverImage:hover{
    background-size:110%;
  }
  
  .textOverImage:after{
    position:absolute;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    letter-spacing: .015em;
    font-size: 14px;
    padding:0 8px;
    content:attr(data-text);
    transition:0.5s;
  }
  
  .textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
  }
  
  .textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
  }


/* --------------------------------------
   contact
   -------------------------------------- */
.first, .secound{color:white;
letter-spacing: .015em;
padding-left: 1em;
padding-bottom: 1.5em;}

.first h2, .secound h2{
	padding-top:1em;
	text-align: center;
}

#contact li{list-style: none;
	display:inline-block;
float:left;
margin:2%;}


#contact li a{
	text-decoration: none;
	color:white;

}

.third{
	width: 80%;
	margin:auto;
	padding-bottom: 2em;
}



footer{

	text-align: center;
	color:white;
	background-color:#373737; 
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0;
}











@media (min-width: 700px) {
	.menu-toggle{
		display: none;
	}

	.site-nav {
		height: auto;
		position: relative;
		background:transparent;
		float: right;
	}
	.site-nav li{
		display: inline-block;
		border:none;
	}

	.site-nav a{
		padding: 0;
		margin-left: 3em;
	}

	.site-nav a:hover,
	.site-nav a:focus{
		background:transparent;
	}

}